<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h4>View Plans</h4>
  <table class="table table-hover">
    <thead>
      <tr>
      	<th>S.No.</th>
      	<th>PlanName</th>
        <th>PlanStartDate</th>
        <th>PlanEndDate</th>
        <th>PlanCategory</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="enq :${viewPlanRecords}">
        <td th:text="${enqStat.index} +1" />
		<td th:text="${enq.planName}" />
		<td th:text="${enq.planStartDate}" />
		<td th:text="${enq.planEndDate}" />
		<td th:text="${enq.planCategory}" />
		<td><a href="@{/edit}" class="btn btn-primary">Edit</a></td>
		</tr>
    </tbody>
  </table>
</div>

</body>

</html>